.form {
  min-width: 60vw;
  max-width: 95vw;
  margin-bottom: 10vh;
  overflow: hidden;
  background-color: #2b4d8d;
  background-image: repeating-radial-gradient(
      circle at 0rem 1rem,
      transparent,
      transparent 0.28rem,
      #82bfe0 0.3rem,
      #82bfe0 0.36rem,
      transparent 0.38rem,
      transparent 1.08rem
    ),
    repeating-radial-gradient(
      circle at 2rem 1rem,
      transparent,
      transparent 0.28rem,
      #82bfe0 0.3rem,
      #82bfe0 0.36rem,
      transparent 0.38rem,
      transparent 1.08rem
    ),
    repeating-radial-gradient(
      circle at 1rem 2rem,
      transparent,
      transparent 0.28rem,
      #82bfe0 0.3rem,
      #82bfe0 0.36rem,
      transparent 0.38rem,
      transparent 1.08rem
    ),
    repeating-radial-gradient(
      circle at 1rem 0rem,
      transparent,
      transparent 0.28rem,
      #82bfe0 0.3rem,
      #82bfe0 0.36rem,
      transparent 0.38rem,
      transparent 1.08rem
    ),
    repeating-radial-gradient(
      circle at 0rem 1rem,
      transparent,
      transparent 0.24rem,
      #4169e1 0.26rem,
      #4169e1 0.46rem,
      transparent 0.48rem,
      transparent 1.12rem
    ),
    repeating-radial-gradient(
      circle at 2rem 1rem,
      transparent,
      transparent 0.24rem,
      #4169e1 0.26rem,
      #4169e1 0.46rem,
      transparent 0.48rem,
      transparent 1.12rem
    ),
    repeating-radial-gradient(
      circle at 1rem 2rem,
      transparent,
      transparent 0.24rem,
      #4169e1 0.26rem,
      #4169e1 0.46rem,
      transparent 0.48rem,
      transparent 1.12rem
    ),
    repeating-radial-gradient(
      circle at 1rem 0rem,
      transparent,
      transparent 0.24rem,
      #4169e1 0.26rem,
      #4169e1 0.46rem,
      transparent 0.48rem,
      transparent 1.12rem
    );
  background-size: 2rem 2rem;
}

.form button {
  background: #3399ff;
}
